<div class="container mt-5 md">
  <div class="row">
    <div class="col-sm-12 col-md-8 m-auto">
      <% @audios.each do |audio| %>
      <div class="card mt-2 mb-2 bg-dark text-white">
        <div class="card-body text-center">
         <p><%= link_to audio.title, audio %></p>
         <p><audio controls src="<%= audio.audio %>"></audio></p>
         <p>
           <% if user_signed_in? %>
           <%= link_to 'Show', audio %>
           <%= link_to 'Edit', edit_audio_path(audio) %>
           <%= link_to 'Delete', audio, method: :delete, data: { confirm: 'Are you sure?' } %>
           <%= link_to 'New Audio', new_audio_path %>
           <% end %>
         </p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>



