<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Audios</h1>

  <table class="table table-striped table-inverse">
    <thead>
      <tr>
        <th scope="row">Title</th>
        <th scope="row">Audio</th>
        <th scope="row">Created on</th>
        <th scope="row">Updated on</th>
        <th colspan="5"></th>
      </tr>
    </thead>

    <tbody>
      <% @audios.each do |audio| %>
        <tr>
          <td><%= audio.title %></td>
          <td><audio controls src="<%= audio.audio %>"></audio></td>
          <td><%= audio.created_at %></td>
          <td><%= audio.updated_at %></td>
          <% if user_signed_in? %>
          <td><%= link_to 'Show', audio %></td>
          <td><%= link_to 'Edit', edit_audio_path(audio) %></td>
          <td><%= link_to 'Delete', audio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= link_to 'New Audio', new_audio_path %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

