<div class="container mt-5 md">
  <div class="row">
    <div class="col-sm-12 col-md-8 m-auto">
      <% @posts.each do |post| %>
      <div class="card mt-2 mb-2 bg-dark text-white">
        <div class="card-body text-center">
         <p><%= link_to post.title, post %></p>
         <p><%= truncate(post.body, length: 150, separator: ' ') %></p>
         <p><%= post.author %></p>
         <p>
           <% if user_signed_in? %>
             <%= link_to 'Show', post %>
             <%= link_to 'Edit', edit_post_path(post) %>
             <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
             <%= link_to 'New Post', new_post_path %>
           <% end %>
         </p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

