<!DOCTYPE html>
<html>
  <head>
    <title>Adam</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Audiowide|Orbitron" rel="stylesheet">
  </head>

  <body>
		<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
			<div class="container">
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<ul class="nav navbar-nav pull-sm-left">
					<li class="<%= "active" if current_page?("/") %>">
					    <%= link_to(" Home", root_path, class: "nav-item nav-link btn btn-dark") %>
					</li>
					<li class="<%= "active" if current_page?("/audios") %>">
					    <%= link_to(" Audio", audios_path, class: "nav-item nav-link btn btn-dark") %>
					</li>
					<li class="<%= "active" if current_page?("/videos") %>">
					    <%= link_to(" Video", videos_path, class: "nav-item nav-link btn btn-dark") %>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-logo mx-auto">
				      <li class="nav-item">
				        <%= link_to " Adam", root_path, class: "navbar-brand fa fa-bolt btn btn-danger btn-block" %>
				      </li>
				</ul>
				<ul class="nav navbar-nav pull-sm-right">
				      <li class="<%= "active" if current_page?("/posts") %>">
				          <%= link_to(" Blog", posts_path, class: "nav-item nav-link btn btn-dark") %>
				      </li>
				      <li class="<%= "active" if current_page?("/about") %>">
				          <%= link_to(" About", "/about", class: "nav-item nav-link btn btn-dark") %>
				      </li>
				      <li class="<%= "active" if current_page?("/contact") %>">
				          <%= link_to(" Contact", "/contact", class: "nav-item nav-link btn btn-dark") %>
				      </li>
				      <li class="<%= "active" if current_page?("/donations") %>">
				          <%= link_to(" Donations", donations_path, class: "nav-item nav-link btn btn-dark") %>
				      </li>
				</ul>
			</div>
		</div>
	</nav>

		<%= yield %>
  </body>

</html>
